# Variáveis de ambiente
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ambientes virtuais
venv/
.venv/

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/

# Sistema Operacional
.DS_Store
Thumbs.db